.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.Title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-top: 20px;
}

.Stepper {
  margin-top: 20px !important;
}

.Stepper * {
  font-size: 9px !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
